.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}